@media (max-width: 1920px) {
  body {
    margin: 0;
  }

  .wrapper {
    margin: auto;
    width: 79%;
  }

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 123px;
  }

  .logo {
    position: relative;
    padding: 40px 0;
    padding-left: 44px;
    font: 24px/31px pt_serifbold, arial, helvetica, sans-serif;
  }

  .logo__circle {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    border-radius: 50%;
  }

  .logo__circle_color_dark-blue {
    background: #0056ec;
  }

  .logo__circle_color_blue {
    left: 8px;
    top: 56%;
    background: #C8DBFB;
    opacity: .7;
  }

  .menu {
    display: flex;
    align-items: center;
  }

  .menu__item {
    position: relative;
    margin-right: 25px;
    font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
    color: #000;
    text-decoration: none;
    transition: opacity .5s;
  }

  .menu__item:after {
    position: absolute;
    left: 0;
    display: block;
    content: '';
    width: 0;
    height: 3px;
    background: #0056ec;
    opacity: 0;
    transition: opacity .5s, width .5s;
  }

  .menu__item:hover {
    opacity: .5;
  }

  .menu__item:hover:after, .menu__item_active:after {
    opacity: 1;
    width: 100%;
  }

  .menu__item_active::after {
    position: absolute;
    left: 0;
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    background: #0056ec;
  }

  .menu__item:hover:after {
    position: absolute;
    left: 0;
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    background: #0056ec;
  }

  .menu__item:last-child {
    margin-right: 0;
  }

  .main {
    padding: 80px 63% 181px 0;
    background: bottom 50px right no-repeat url(img/mainImg.svg);
  }

  .main__title {
    margin: 0 0 36px 0;
    font: 66px/88px pt_serifbold, arial, helvetica, sans-serif;
  }

  .main__title-text_highlight {
    background: #ECF3FF;
  }

  .main__subtitle {
    max-width: 424px;
    margin: 0 0 38px 0;
    font: 22px/26px Roboto, arial, helvetica, sans-serif;
  }

  .main__button {
    display: inline-block;
    padding: 20px 25px;
    font: 18px/21px Roboto, arial, helvetica, sans-serif;
    text-decoration: none;
    color: #fff;
    background: #0056ec;
    border-radius: 4px;
    transition: opasity .5s;
  }

  .main__button:hover {
    opacity: .5;
  }
}

@media (max-width: 1366px) {
  body {
    margin: 0;
  }

  .wrapper {
    margin: auto;
    width: 68%;
  }

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
  }

  .logo {
    position: relative;
    padding: 40px 0;
    padding-left: 44px;
    font: 24px/31px pt_serifbold, arial, helvetica, sans-serif;
  }

  .logo__circle {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    border-radius: 50%;
  }

  .logo__circle_color_dark-blue {
    background: #0056ec;
  }

  .logo__circle_color_blue {
    left: 8px;
    top: 56%;
    background: #C8DBFB;
    opacity: .7;
  }

  .menu {
    display: flex;
    padding-top: 10px;
    align-items: center;
  }

  .menu__item {
    position: relative;
    margin-right: 28px;
    font: 500 14px/17px Roboto, arial, helvetica, sans-serif;
    color: #000;
    text-decoration: none;
    transition: opacity .5s;
  }

  .menu__item:after {
    position: absolute;
    left: 0;
    display: block;
    content: '';
    width: 0;
    height: 2px;
    background: #0056ec;
    opacity: 0;
    transition: opacity .5s, width .5s;
  }

  .menu__item:hover {
    opacity: .5;
  }

  .menu__item:hover:after, .menu__item_active:after {
    opacity: 1;
    width: 100%;
  }

  .menu__item_active::after {
    position: absolute;
    left: 0;
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    background: #0056ec;
  }

  .menu__item:hover:after {
    position: absolute;
    left: 0;
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    background: #0056EC;
  }

  .menu__item:last-child {
    margin-right: 0;
  }

  .main {
    padding: 47px 58% 142px 0;
    background: bottom 85px right no-repeat url(img/mainImg-1366.svg);
  }

  .main__title {
    margin: 0 0 38px 0;
    font: 50px/66px pt_serifbold, arial, helvetica, sans-serif;
  }

  .main__title-text_highlight {
    background: #ECF3FF;
  }

  .main__subtitle {
    margin: 0 0 41px 0;
    font: 18px/21px Roboto, arial, helvetica, sans-serif;
  }

  .main__button {
    display: inline-block;
    padding: 14px 21px;
    font: 14px/17px Roboto, arial, helvetica, sans-serif;
    text-decoration: none;
    color: #fff;
    background: #0056ec;
    border-radius: 4px;
    transition: opasity .5s;
  }

  .main__button:hover {
    opacity: .5;
  }
}

@media (max-width: 1024px) {
  body {
    margin: 0;
  }

  .wrapper {
    margin: auto;
    width: 91%;
  }

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 19px;
  }

  .logo {
    position: relative;
    padding: 40px 0;
    padding-left: 44px;
    font: 24px/31px pt_serifbold, arial, helvetica, sans-serif;
  }

  .logo__circle {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    border-radius: 50%;
  }

  .logo__circle_color_dark-blue {
    background: #0056ec;
  }

  .logo__circle_color_blue {
    left: 8px;
    top: 56%;
    background: #C8DBFB;
    opacity: .7;
  }

  .menu {
    display: flex;
    align-items: center;
  }

  .menu__item {
    position: relative;
    margin-right: 26px;
    font: 500 14px/17px Roboto, arial, helvetica, sans-serif;
    color: #000;
    text-decoration: none;
    transition: opacity .5s;
  }

  .menu__item:after {
    position: absolute;
    left: 0;
    display: block;
    content: '';
    width: 0;
    height: 2px;
    background: #0056ec;
    opacity: 0;
    transition: opacity .5s, width .5s;
  }

  .menu__item:hover {
    opacity: .5;
  }

  .menu__item:hover:after, .menu__item_active:after {
    opacity: 1;
    width: 100%;
  }

  .menu__item_active::after {
    position: absolute;
    left: 0;
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    background: #0056ec;
  }

  .menu__item:hover:after {
    position: absolute;
    left: 0;
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    background: #0056ec;
  }

  .menu__item:last-child {
    margin-right: 0;
  }

  .main {
    padding: 80px 58% 65px 0;
    background: bottom 10px right no-repeat url(img/mainImg-1170.svg);
  }

  .main__title {
    margin: 0 0 36px 0;
    font: 50px/66px pt_serifbold, arial, helvetica, sans-serif;
  }

  .main__title-text_highlight {
    background: #ECF3FF;
  }

  .main__subtitle {
    margin: 0 0 43px 0;
    font: 18px/21px Roboto, arial, helvetica, sans-serif;
  }

  .main__button {
    display: inline-block;
    padding: 15px 21px;
    font: 14px/17px Roboto, arial, helvetica, sans-serif;
    text-decoration: none;
    color: #fff;
    background: #0056EC;
    border-radius: 4px;
    transition: opasity .5s;
  }

  .main__button:hover {
    opacity: .5;
  }
}

@media (max-width: 768px) {
  body {
    margin: 0;
  }

  .wrapper {
    margin: auto;
    width: 87%;
  }

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  .logo {
    position: relative;
    padding: 24px 0;
    padding-left: 44px;
    font: 24px/31px pt_serifbold, arial, helvetica, sans-serif;
    color: white;
  }

  .logo__circle {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    border-radius: 50%;
  }

  .logo__circle_color_dark-blue {
    background: #0056ec;
  }

  .logo__circle_color_blue {
    left: 8px;
    top: 56%;
    background: #C8DBFB;
    opacity: .7;
  }

  .header__burger {
    display: block;
    position: relative;
    top: 32px;
    right: 3px;
    width: 25px;
    height: 18px;
    z-index: 100;
  }

  .header__burger span {
    position: absolute;
    background-color: #0056ec;
    left: 4px;
    width: 100%;
    height: 3px;
    top: 8px;
    transition: all 0.3s ease 0s;
    z-index: 100;
  }

  .header__burger::before,
  .header__burger::after {
    content: '';
    background-color: #0056ec;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 4px;
    transition: all 0.3s ease 0s;
    z-index: 100;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: -1px;
  }

  .header__burger.active {
    margin: -7px -1px 0 0;
  }

  .header__burger.active span,
  .header__burger.active::before,
  .header__burger.active::after {
    z-index: 100;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .header__burger.active::before {
    transform: rotate(45deg);
    top: 7px;
    background-color: #0056ec;
  }

  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 8px;
    background-color: #0056ec;
  }

  .header__menu {
    position: fixed;
    display: block;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 70px 0 0 0;
    transition: all 0.3s ease 0s;
    z-index: 80;
  }

  .header__menu.active {
    top: 0;
    padding: 169px 0 0 0;
    background-color: white;
  }

  .menu {
    display: flex;
    flex-direction: column;
  }

  .menu__item {
    font: 30px/36px Roboto, arial, helvetica, sans-serif;
    font-weight: 500;
    color: black;
    text-decoration: none;
    margin: 0 0 24px 0;
    text-transform: lowercase;
  }

  .main {
    padding: 78% 0 0 0;
    background: top center no-repeat url(img/mainImg-768.svg);
    text-align: center;
  }

  .main__title {
    margin: 5px 0 33px 0;
    font: 30px/40px pt_serifbold, arial, helvetica, sans-serif;
  }

  .main__title-text_highlight {
    background: #ECF3FF;
  }

  .main__subtitle {
    margin: 0 auto;
    margin-bottom: 25px;
    max-width: 255px;
    font: 16px/19px Roboto, arial, helvetica, sans-serif;
  }

  .main__button {
    display: inline-block;
    padding: 14px 22px;
    font: 14px/17px Roboto, arial, helvetica, sans-serif;
    text-decoration: none;
    color: #fff;
    background: #0056ec;
    border-radius: 4px;
    transition: opasity .5s;
  }

  .main__button:hover {
    opacity: .5;
  }
}
