body {
  margin: 0;
  background: #ffdfba;
}

.wrapper {
  margin: auto;
  width: 79%;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 123px;
}

.logo {
  position: relative;
  padding: 40px 0;
  padding-left: 44px;
  font: bold 24px/31px pt_serif, arial, helvetica, sans-serif;
}

.logo__circle {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.logo__circle_color_dark-blue {
  background: #0056EC;
}

.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #C8DBFB;
  opacity: .7;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  position: relative;
  margin-right: 25px;
  font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}

.menu__item:after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s, width .5s;
}

.menu__item:hover {
  opacity: .5;
}

.menu__item:hover:after, .menu__item_active:after {
  opacity: 1;
  width: 100%;
}

.menu__item_active::after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background: #0056EC;
}

.menu__item:hover:after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  widht: 100%;
  height: 3px;
  background: #0056EC;
}

.menu__item:last-child {
  margin-right: 0;
}

.main {
  padding: 80px 63% 181px 0;
  background: bottom 50px right no-repeat url(img/mainImg.svg);
}

.main__title {
  margin: 0 0 36px 0;
  font: 66px/88px pt_serifbold, arial, helvetica, sans-serif;
}

.main__title-text_highlight {
  background: #ECF3FF;
}

.main__subtitle {
  margin: 0 0 38px 0;
  font: 21px/26px Roboto, arial, helvetica, sans-serif;
}

.main__button {
  display: inline-block;
  padding: 20px 22px;
  font: 18px/21px Roboto, arial, helvetica, sans-serif;
  text-decoration: none;
  color: #fff;
  background: #0056EC;
  border-radius: 4px;
  transition: opasity .5s;
}

.main__button:hover {
  opacity: .5;
}
